


.button{
    -fx-cursor:hand;
}
.input{
    -fx-background-color : transparent;
    -fx-border-color: transparent transparent #388e3c transparent;
    -fx-border-width: 0 0 2px 0;
}

.topbar-background{
    -fx-background-color:#ef451b;
}


.side_background
{
-fx-background-color : #ef451b;
-fx-border:0 1px 0 0; 
}
.center_background
{
-fx-background-color : #f4ece1;
}


/*Side Button and middle Button Effect*/
.button-background{
    -fx-background-color: transparent;
}

.middlebtn
{
-fx-background-color : #388e3c;
}
.middlebtn:hover
{
-fx-background-color : #4caf50;
}
.middlebtn:pressed
{
-fx-background-color : red;
}

.button1
{
-fx-background-color : #ef451b;
-fx-background-radius :  30 0 0 30;
}
.button1:hover
{
-fx-background-color : #4caf50;
-fx-background-radius :  30 0 0 30;
}
.button1:pressed
{
-fx-background-color : red;
-fx-background-radius :  30 0 0 30;
}

/* Admin Dashboard Button Effect */
.button2
{
-fx-background-color : #388e3c;
-fx-background-radius :  20;
}
.button2:hover
{
-fx-background-color : #4caf50 ;
-fx-background-radius :  20;
}
.button2:pressed
{
-fx-background-color : red;
-fx-background-radius :  30 0 0 30;
}

/* Middle Panel Button Effect */
.button3
{
    -fx-background-color : #ef451b;
    -fx-background-radius :  0 30 30 0;
}
.button3:hover
{
    -fx-background-color : #4caf50;
    -fx-background-radius :  0 30 30 0;
}
.button3:pressed
{
    -fx-background-color : red;
    -fx-background-radius :  0 30 30 0;
}

.button4
{
    -fx-background-color :linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius :  30 30 30 30;
}
.button4:hover
{
    -fx-background-color :linear-gradient(to top left, #D4CEE3, #41951C);
    -fx-background-radius :  30 30 30 30;
}
.button4:pressed
{
    -fx-background-color :linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius :  30 30 30 30;
}


.combo-box
{
    /*-fx-background-color : #141124;
    -fx-border-color:  #515658;
    -fx-border-radius: 30;*/
    
    -fx-background-color : transparent;
    -fx-border-color: transparent transparent #388e3c transparent;
    -fx-border-width: 0 0 2px 0;
    
    
    
}
.combo-box:hover
{
    -fx-background-color : transparent;
    -fx-border-color:  transparent transparent #388e3c transparent;;
    -fx-border-width: 0 0 2px 0;
    
   
}
.combo-box:pressed
{
    -fx-background-color : transparent;;
    -fx-border-color:  transparent transparent #388e3c transparent;
    -fx-border-width: 0 0 2px 0;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color:   #808080;
}
.table-view .column-header .label{

   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
   -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-text-fill: #000000;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(127, 172, 243);
 }
 .table-row-cell:selected .text {
        -fx-fill : white ;

 }
/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive(  #2D75E8,80%);
	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #2D75E8,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}
.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left, #A868A0, #2D75E8);
}